timeline.xctimeline
SwiftTour.playground/contents.xcplayground
SwiftTour.playground/playground.xcworkspace/contents.xcworkspacedata
SwiftTour.playground/playground.xcworkspace/xcuserdata/ankit.xcuserdatad/UserInterfaceState.xcuserstate
SwiftTour.playground/xcuserdata/ankit.xcuserdatad/xcschemes/xcschememanagement.plist
